// general styling

a, a:visited {
    color: inherit;
}

.fa-icon {
    width: auto;
    height: 1em; /* or any other relative font sizes */
  
    /* You would have to include the following two lines to make this work in Safari */
    max-width: 100%;
    max-height: 100%;
}

.footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 3em;
}

.footer-div {
    display: flex;
    flex-direction: column;
}

.social-label {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}
  
// vue-agile carousel
#app {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin: 0 auto;
    max-width: 900px;
    padding: 30px;
  }
  
  .agile__actions {
    margin-top: 20px;
  }
  .agile__nav-button {
    background: transparent;
    border: none;
    color: #ccc;
    cursor: pointer;
    font-size: 24px;
    transition-duration: 0.3s;
  }
  .agile__nav-button:hover {
    color: #888;
  }
  .agile__dot {
    margin: 0 10px;
  }
  .agile__dot button {
    background-color: #eee;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 10px;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    transition-duration: 0.3s;
    width: 10px;
  }
  .agile__dot--current button, .agile__dot:hover button {
    background-color: #888;
  }
  
  .slide {
    align-items: center;
    color: #fff;
    display: flex;
    height: 300px;
    justify-content: center;
  }
  .slide h3 {
    font-size: 32px;
    font-weight: 300;
  }
  
  .slide--1 {
    background-color: #f1c40f;
  }
  
  .slide--2 {
    background-color: #e67e22;
  }
  
  .slide--3 {
    background-color: #e74c3c;
  }
  
  .slide--4 {
    background-color: #9b59b6;
  }
  
  .slide--5 {
    background-color: #3498db;
  }
  
  .slide--6 {
    background-color: #2ecc71;
  }
  
